In [58]:
import torch
import numpy as np
import pandas as pd
import ast

In [11]:
##Change working directory to talk-berty-to-me root
import os
os.chdir("D:/University/Projects/AML/talk-berty-to-me")

In [13]:
#Reading data from Project Gutenberg
data_gutenberg = pd.read_csv('data/books_and_genres.csv')

,Unnamed: 0,title,text,genres
0,0,apocolocyntosis,"Produced by Ted Garvin, Ben Courtney and PG Di...","{'21st-century', 'history', 'roman', 'classics..."
1,1,the house on the borderland,"Produced by Suzanne Shell, Sjaani and PG Distr...","{'horror', 'mystery', 'classics', 'science-fic..."
2,2,the warriors,"Produced by Charles Aldarondo, Charlie Kirschn...","{'literary-fiction', 'history', 'biography', '..."

In [16]:
#Selecting relevant columns
data_gutenberg = data_gutenberg.loc[:,['title', 'text', 'genres']]
data_gutenberg.head(3)

,title,text,genres
0,apocolocyntosis,"Produced by Ted Garvin, Ben Courtney and PG Di...","{'21st-century', 'history', 'roman', 'classics..."
1,the house on the borderland,"Produced by Suzanne Shell, Sjaani and PG Distr...","{'horror', 'mystery', 'classics', 'science-fic..."
2,the warriors,"Produced by Charles Aldarondo, Charlie Kirschn...","{'literary-fiction', 'history', 'biography', '..."

In [97]:
import ast
universal_set = set()
def parse_set(string_set):
    return ast.literal_eval(string_set)

for string in list(zip(data_gutenberg['genres'])):
    parsed_set = parse_set(string[0])
    universal_set = universal_set.union(parsed_set)

In [101]:
for genre in universal_set:
    data_gutenberg[genre] = data_gutenberg['genres'].apply(lambda x: 1 if genre in x else 0)

data_gutenberg.head(3)

,title,text,genres,philosophy,21st-century,coming-of-age,realistic-fiction,20th-century,horror,sports,...,fiction,animals,modern,adult-fiction,spirituality,american,family,contemporary-romance,adult,economics
0,apocolocyntosis,"Produced by Ted Garvin, Ben Courtney and PG Di...","{'21st-century', 'history', 'roman', 'classics...",1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,the house on the borderland,"Produced by Suzanne Shell, Sjaani and PG Distr...","{'horror', 'mystery', 'classics', 'science-fic...",0,0,0,0,1,1,0,...,1,0,0,0,0,0,0,0,1,0
2,the warriors,"Produced by Charles Aldarondo, Charlie Kirschn...","{'literary-fiction', 'history', 'biography', '...",0,0,1,0,1,0,0,...,1,0,0,1,0,1,1,0,1,0